@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Roboto:wght@300&display=swap");
* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: url("../imagens/fundos/fundo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-decoration: none;
}

.nav-teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.decoracao {
  text-decoration: none;
  color: white;
}

.navbar-animation {
  width: 100%;
  padding: 20px 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.traco {
  border-left: 1px solid white;
}

.li {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.s-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 329px 0px;
}

.titulo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: white;
}

.reciclar {
  color: #37B00E;
}

.strong {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: white;
}

.separador {
  background: linear-gradient(91.58deg, rgba(54, 176, 14, 0.6) 0%, rgba(22, 163, 74, 0.6) 48.11%, rgba(14, 176, 165, 0.6) 81.03%);
  border: 3px solid rgba(255, 255, 255, 0.14);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topico1 {
  padding-top: 86px;
  padding-bottom: 46px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: white;
}

main {
  background: rgba(54, 176, 14, 0.15);
}

.imagem-topico1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
}

.d-hero {
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.para-topico1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
}

.separador2 {
  background: linear-gradient(94.21deg, rgba(31, 240, 108, 0.6) 20.32%, rgba(14, 176, 165, 0.6) 66.35%, rgba(15, 186, 29, 0.6) 102.66%);
  border: 3px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.ss-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reciclavel {
  background: #37B00E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.nao-reciclavel {
  background: #374134;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 50px 0px;
  background: #15A349;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: white;
}

.margem h2, .margem2 h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.margem p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.mirror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.margem2 p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.margem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px;
}

.margem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px;
}

.footer {
  background: #15A349;
}

.salvamargem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-imagem {
  padding: 104px 0px;
  padding-bottom: 69px;
}

.footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-li {
  color: white;
  padding: 14px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.icones1 {
  padding-left: 20px;
}

.direitos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.direitos h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
/*# sourceMappingURL=estilos.css.map */