@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Roboto:wght@300&display=swap");
* {
  text-decoration: none;
  -webkit-box-sizing: none;
          box-sizing: none;
  padding: 0;
  margin: 0;
}

body {
  background: url("../imagens/FUNDO.png");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 56, 5, 0.35)), color-stop(149%, rgba(15, 186, 29, 0)));
  background: linear-gradient(180deg, rgba(0, 56, 5, 0.35) 0%, rgba(15, 186, 29, 0) 149%);
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.header-nav-div {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 0px 25px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px 0px 0px;
}

.main-glass {
  width: 500px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 20px;
}

.main-glass h1 {
  padding: 20px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #1B8D72;
}

.formu {
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nameform {
  text-transform: uppercase;
  width: 350px;
  height: 30px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(21, 163, 73, 0.5);
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(21, 163, 73, 0.5);
}

.buttao {
  background: rgba(21, 163, 73, 0.7);
  border-radius: 10px;
  border: none;
  width: 264px;
  height: 62px;
  cursor: pointer;
}

.buttao h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: white;
}
/*# sourceMappingURL=estilos.css.map */