
// Paleta de cores
$cor1: #0EB0A5;
$cor2: #0FBA7E;
$cor3: #15A349;
$cor4: #0FBA1D;
$cor5: #37B00E;
$corbranco: white;
$corpreto: black;


// Reset HTML
@mixin ResetHtml {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}